<% include ../layouts/header %>

<div class="container">
    <a role="button" class="btn btn-danger" href="/animal_species/add">Add Animal Species</a>
    <a role="button" class="btn btn-danger" href="/animals/add">Add Animal</a>
    <a role="button" class="btn btn-danger" href="/plant_species/add">Add Plant Species</a>
    <a role="button" class="btn btn-danger" href="/plants/add">Add Plant</a>
    <a role="button" class="btn btn-danger" href="/areas/add">Add Area</a>
</div>

<% include ../layouts/footer %>