<% include ../layouts/header %>

<div class="container">
    <div class="btn btn-danger" href="/animal_species/add">Add Animal Species</div>
    <div class="btn btn-danger" href="/animals/add">Add Animal</div>
    <div class="btn btn-danger" href="/plant_species/add">Add Plant Species</div>
    <div class="btn btn-danger" href="/plants/add">Add Plant</div>
    <div class="btn btn-danger" href="/areas/add">Add Area</div>
</div>

<% include ../layouts/footer %>