<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/app.css">
    </link>
    <title>Wildlife Database</title>
</head>

<body>
    <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light" style="position: fixed;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <ul class="navbar-nav  mr-auto">
                <a class="nav-link dark-gray" href="/">Wildlife Database</a>
                <a class="nav-link dark-gray" href="/animals/find">Find Animals</a>
                <a class="nav-link dark-gray" href="/animals/all">All Animals</a>
                <a class="nav-link dark-gray" href="/plants/find">Find Plants</a>
                <a class="nav-link dark-gray" href="/plants/all">All Plants</a>
                <a class="nav-link dark-gray" href="/areas">Areas</a>
            </ul>
            <ul class="navbar-nav  ml-auto">
                <a class="nav-link dark-gray" href="/admin">Admin</a>
            </ul>
        </div>
    </nav>
    <div>
        <p></p>>
    </div>
    <div class="body-content"></div>