<% include ../layouts/header %>

<div class="container">
    <div class="heading-1 text-center mt-3">All Animal Species</div>
    <% include ../layouts/messages %>
    <table class="table table-bordered table-text-centered table-no-padding mt-3">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Student</th>
            </tr>
        </thead>
        <% if (results) { %>
        <tbody>
            <% results.forEach(result => { %>
            <tr>
                <!-- TODO -->
            </tr>
            <% }); %>
        </tbody>
        <% } %>
    </table>
</div>

<% include ../layouts/footer %>