<% include ../layouts/header %>

<div class="container">
    <div class="heading-1 text-center mt-3">All Areas</div>
    <% include ../layouts/messages %>
    <table class="table table-bordered table-text-centered table-no-padding mt-3">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Boundary</th>
            </tr>
        </thead>
        <tbody>
        <% if (result.length > 0) { %>
            <% result.forEach(result => { %>
            <tr onclick="window.location='/areas/show/<%= result.name %>';">
                <td><%= result.name %></td>
                <td><%= result.boundary %></td>
            </tr>
            <% }); %>
        <% } else { %>
            <tr><td colspan="2">Not found</td></tr>
        <% } %>
        </tbody>
    </table>
</div>

<% include ../layouts/footer %>