<% include ../layouts/header %>

<div class="container">
    <div class="heading-1 text-center mt-3">All Plants</div>
    <% include ../layouts/messages %>
    <table class="table table-bordered table-text-centered table-no-padding mt-3">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Number</th>
                <th scope="col">Status</th>
                <th scope="col">Plant Species</th>
            </tr>
        </thead>
        <tbody>
            <% if (result.length > 0) { %>
                <% result.forEach(result => { %>
                <tr>
                    <td><%= result.description %></td>
                    <td><%= result.number %></td>
                    <td><%= result.status %></td>
                    <td><%= result.animal_species %></td>
                </tr>
                <% }); %>
            <% } else { %>
                <tr> <td colspan="6"> Not found </td> </tr>
            <% } %>
        </tbody>
    </table>
</div>

<% include ../layouts/footer %>